<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_x1l-kDuyEeqHDpP_Gx8Z-w" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;in event Start&#xA;in event Up&#xA;in event Alpha&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;operation initialize() &#xA;operation inc() &#xA;operation startProcess() &#xA;operation endProcess() &#xA;operation processA() &#xA;operation processB() &#xA;operation condition():boolean" name="DoWhile">
    <regions xmi:id="_x1oa0DuyEeqHDpP_Gx8Z-w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_x3Bh8TuyEeqHDpP_Gx8Z-w">
        <outgoingTransitions xmi:id="_x3HBgTuyEeqHDpP_Gx8Z-w" target="_x3DXJDuyEeqHDpP_Gx8Z-w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_x3DXJDuyEeqHDpP_Gx8Z-w" specification="entry/initialize()&#xD;&#xA;Up/inc()" name="StateA" incomingTransitions="_x3HBgTuyEeqHDpP_Gx8Z-w">
        <outgoingTransitions xmi:id="_01vdIDxzEeqfhJw6Ql7qAA" specification="Start/startProcess()" target="__bEZ4DxvEeqfhJw6Ql7qAA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__bEZ4DxvEeqfhJw6Ql7qAA" specification="entry/processA()" name="StateB" incomingTransitions="_01vdIDxzEeqfhJw6Ql7qAA _6ziUcDx3EeqfhJw6Ql7qAA">
        <outgoingTransitions xmi:id="_1JEsADx3EeqfhJw6Ql7qAA" specification="Alpha/processB()" target="_x8OVgDx3EeqfhJw6Ql7qAA"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_x8OVgDx3EeqfhJw6Ql7qAA" incomingTransitions="_1JEsADx3EeqfhJw6Ql7qAA">
        <outgoingTransitions xmi:id="_4Q9C8Dx3EeqfhJw6Ql7qAA" specification="[condition()]" target="_y15IcDx3EeqfhJw6Ql7qAA"/>
        <outgoingTransitions xmi:id="_6ziUcDx3EeqfhJw6Ql7qAA" specification="else" target="__bEZ4DxvEeqfhJw6Ql7qAA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_y15IcDx3EeqfhJw6Ql7qAA" specification="entry/endProcess()" name="StateC" incomingTransitions="_4Q9C8Dx3EeqfhJw6Ql7qAA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_x1nzwDuyEeqHDpP_Gx8Z-w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_x1l-kDuyEeqHDpP_Gx8Z-w" measurementUnit="Pixel">
    <children xmi:id="_x1tTUDuyEeqHDpP_Gx8Z-w" type="Region" element="_x1oa0DuyEeqHDpP_Gx8Z-w">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3A64DuyEeqHDpP_Gx8Z-w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3A64TuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3A64juyEeqHDpP_Gx8Z-w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x3A64zuyEeqHDpP_Gx8Z-w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_x3CJADuyEeqHDpP_Gx8Z-w" type="Entry" element="_x3Bh8TuyEeqHDpP_Gx8Z-w">
          <children xmi:id="_x3CwEDuyEeqHDpP_Gx8Z-w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_x3DXIDuyEeqHDpP_Gx8Z-w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_x3DXITuyEeqHDpP_Gx8Z-w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_x3DXIjuyEeqHDpP_Gx8Z-w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x3CwETuyEeqHDpP_Gx8Z-w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3CwEjuyEeqHDpP_Gx8Z-w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x3CJATuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_x3CJAjuyEeqHDpP_Gx8Z-w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3DXIzuyEeqHDpP_Gx8Z-w" x="39" y="12"/>
        </children>
        <children xmi:id="_x3D-MjuyEeqHDpP_Gx8Z-w" type="State" element="_x3DXJDuyEeqHDpP_Gx8Z-w">
          <children xsi:type="notation:DecorationNode" xmi:id="_x3ElQDuyEeqHDpP_Gx8Z-w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x3FMUDuyEeqHDpP_Gx8Z-w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_x3FMUTuyEeqHDpP_Gx8Z-w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x3FzYDuyEeqHDpP_Gx8Z-w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_x3FzYTuyEeqHDpP_Gx8Z-w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3FzYjuyEeqHDpP_Gx8Z-w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x3GacDuyEeqHDpP_Gx8Z-w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x3D-MzuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_x3D-NDuyEeqHDpP_Gx8Z-w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_x3GacTuyEeqHDpP_Gx8Z-w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3HBgDuyEeqHDpP_Gx8Z-w" x="29" y="47" width="160" height="65"/>
        </children>
        <children xmi:id="__bLuoDxvEeqfhJw6Ql7qAA" type="State" element="__bEZ4DxvEeqfhJw6Ql7qAA">
          <children xsi:type="notation:DecorationNode" xmi:id="__bNj0DxvEeqfhJw6Ql7qAA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__bNj0TxvEeqfhJw6Ql7qAA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__bNj0jxvEeqfhJw6Ql7qAA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__bOK4DxvEeqfhJw6Ql7qAA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__bOK4TxvEeqfhJw6Ql7qAA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__bOK4jxvEeqfhJw6Ql7qAA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__bOx8DxvEeqfhJw6Ql7qAA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__bLuoTxvEeqfhJw6Ql7qAA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__bLuojxvEeqfhJw6Ql7qAA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__bOx8TxvEeqfhJw6Ql7qAA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__bLuozxvEeqfhJw6Ql7qAA" x="29" y="149" width="160" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_x8O8kDx3EeqfhJw6Ql7qAA" type="Choice" element="_x8OVgDx3EeqfhJw6Ql7qAA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x8O8kTx3EeqfhJw6Ql7qAA" x="87" y="244" width="30" height="31"/>
        </children>
        <children xmi:id="_y15vgTx3EeqfhJw6Ql7qAA" type="State" element="_y15IcDx3EeqfhJw6Ql7qAA">
          <children xsi:type="notation:DecorationNode" xmi:id="_y16WkDx3EeqfhJw6Ql7qAA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_y16WkTx3EeqfhJw6Ql7qAA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_y16Wkjx3EeqfhJw6Ql7qAA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_y16Wkzx3EeqfhJw6Ql7qAA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_y16WlDx3EeqfhJw6Ql7qAA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_y16WlTx3EeqfhJw6Ql7qAA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_y169oDx3EeqfhJw6Ql7qAA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_y15vgjx3EeqfhJw6Ql7qAA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_y15vgzx3EeqfhJw6Ql7qAA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_y169oTx3EeqfhJw6Ql7qAA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_y15vhDx3EeqfhJw6Ql7qAA" x="31" y="319" width="158" height="55"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3A65DuyEeqHDpP_Gx8Z-w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_x1tTUTuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3Bh8DuyEeqHDpP_Gx8Z-w" x="220" y="10" width="306" height="415"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_x3KE0DuyEeqHDpP_Gx8Z-w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3Kr4DuyEeqHDpP_Gx8Z-w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3Kr4TuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3Kr4juyEeqHDpP_Gx8Z-w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x3Kr4zuyEeqHDpP_Gx8Z-w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3Kr5DuyEeqHDpP_Gx8Z-w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3LS8DuyEeqHDpP_Gx8Z-w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_x1nzwTuyEeqHDpP_Gx8Z-w" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_x1nzwjuyEeqHDpP_Gx8Z-w"/>
    <edges xmi:id="_x3I2sDuyEeqHDpP_Gx8Z-w" type="Transition" element="_x3HBgTuyEeqHDpP_Gx8Z-w" source="_x3CJADuyEeqHDpP_Gx8Z-w" target="_x3D-MjuyEeqHDpP_Gx8Z-w">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3JdwDuyEeqHDpP_Gx8Z-w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3JdwTuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3JdwjuyEeqHDpP_Gx8Z-w" x="11" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x3I2sTuyEeqHDpP_Gx8Z-w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x3I2szuyEeqHDpP_Gx8Z-w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x3I2sjuyEeqHDpP_Gx8Z-w" points="[7, 0, -38, -57]$[28, 0, -17, -57]$[28, 28, -17, -29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2hNuMDx4EeqfhJw6Ql7qAA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wE1WEDx3EeqfhJw6Ql7qAA" id="(0.4032258064516129,0.48333333333333334)"/>
    </edges>
    <edges xmi:id="_01x5YDxzEeqfhJw6Ql7qAA" type="Transition" element="_01vdIDxzEeqfhJw6Ql7qAA" source="_x3D-MjuyEeqHDpP_Gx8Z-w" target="__bLuoDxvEeqfhJw6Ql7qAA">
      <children xsi:type="notation:DecorationNode" xmi:id="_01zHgDxzEeqfhJw6Ql7qAA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_01zHgTxzEeqfhJw6Ql7qAA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_01zHgjxzEeqfhJw6Ql7qAA" x="-1" y="-71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_01x5YTxzEeqfhJw6Ql7qAA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_01ygcDxzEeqfhJw6Ql7qAA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_01x5YjxzEeqfhJw6Ql7qAA" points="[-7, 2, 44, -66]$[-7, 44, 44, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_013Y8DxzEeqfhJw6Ql7qAA" id="(0.5156002115282919,0.9666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GLbPMDx3EeqfhJw6Ql7qAA" id="(0.1806451612903226,0.48)"/>
    </edges>
    <edges xmi:id="_1JF6IDx3EeqfhJw6Ql7qAA" type="Transition" element="_1JEsADx3EeqfhJw6Ql7qAA" source="__bLuoDxvEeqfhJw6Ql7qAA" target="_x8O8kDx3EeqfhJw6Ql7qAA">
      <children xsi:type="notation:DecorationNode" xmi:id="_1JF6JDx3EeqfhJw6Ql7qAA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1JF6JTx3EeqfhJw6Ql7qAA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1JF6Jjx3EeqfhJw6Ql7qAA" y="-62"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1JF6ITx3EeqfhJw6Ql7qAA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1JF6Izx3EeqfhJw6Ql7qAA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1JF6Ijx3EeqfhJw6Ql7qAA" points="[-14, 0, 7, -42]$[-14, 36, 7, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1JHvUDx3EeqfhJw6Ql7qAA" id="(0.5550537634408603,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1pgfkDx3EeqfhJw6Ql7qAA" id="(0.25,0.24193548387096775)"/>
    </edges>
    <edges xmi:id="_4Q9qADx3EeqfhJw6Ql7qAA" type="Transition" element="_4Q9C8Dx3EeqfhJw6Ql7qAA" source="_x8O8kDx3EeqfhJw6Ql7qAA" target="_y15vgTx3EeqfhJw6Ql7qAA">
      <children xsi:type="notation:DecorationNode" xmi:id="_4Q-REDx3EeqfhJw6Ql7qAA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4Q-RETx3EeqfhJw6Ql7qAA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4Q-REjx3EeqfhJw6Ql7qAA" y="-52"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4Q9qATx3EeqfhJw6Ql7qAA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4Q9qAzx3EeqfhJw6Ql7qAA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4Q9qAjx3EeqfhJw6Ql7qAA" points="[-15, 0, 2, -52]$[-14, 44, 3, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4RAGQDx3EeqfhJw6Ql7qAA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4RAGQTx3EeqfhJw6Ql7qAA" id="(0.45447219983883963,0.16363636363636364)"/>
    </edges>
    <edges xmi:id="_6zi7gDx3EeqfhJw6Ql7qAA" type="Transition" element="_6ziUcDx3EeqfhJw6Ql7qAA" source="_x8O8kDx3EeqfhJw6Ql7qAA" target="__bLuoDxvEeqfhJw6Ql7qAA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6zjikTx3EeqfhJw6Ql7qAA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6zjikjx3EeqfhJw6Ql7qAA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6zjikzx3EeqfhJw6Ql7qAA" x="6" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6zi7gTx3EeqfhJw6Ql7qAA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6zjikDx3EeqfhJw6Ql7qAA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6zi7gjx3EeqfhJw6Ql7qAA" points="[0, 15, -48, 79]$[156, 15, 108, 79]$[156, -68, 108, -4]$[57, -68, 9, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6zl-0Dx3EeqfhJw6Ql7qAA" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6zl-0Tx3EeqfhJw6Ql7qAA" id="(0.8793548387096773,0.6363636363636364)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
