<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_x1l-kDuyEeqHDpP_Gx8Z-w" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="DoWhile">
    <regions xmi:id="_x1oa0DuyEeqHDpP_Gx8Z-w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_x3Bh8TuyEeqHDpP_Gx8Z-w">
        <outgoingTransitions xmi:id="_x3HBgTuyEeqHDpP_Gx8Z-w" target="_x3DXJDuyEeqHDpP_Gx8Z-w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_x3DXJDuyEeqHDpP_Gx8Z-w" name="StateA" incomingTransitions="_x3HBgTuyEeqHDpP_Gx8Z-w"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_x1nzwDuyEeqHDpP_Gx8Z-w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_x1l-kDuyEeqHDpP_Gx8Z-w" measurementUnit="Pixel">
    <children xmi:id="_x1tTUDuyEeqHDpP_Gx8Z-w" type="Region" element="_x1oa0DuyEeqHDpP_Gx8Z-w">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3A64DuyEeqHDpP_Gx8Z-w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3A64TuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3A64juyEeqHDpP_Gx8Z-w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x3A64zuyEeqHDpP_Gx8Z-w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_x3CJADuyEeqHDpP_Gx8Z-w" type="Entry" element="_x3Bh8TuyEeqHDpP_Gx8Z-w">
          <children xmi:id="_x3CwEDuyEeqHDpP_Gx8Z-w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_x3DXIDuyEeqHDpP_Gx8Z-w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_x3DXITuyEeqHDpP_Gx8Z-w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_x3DXIjuyEeqHDpP_Gx8Z-w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x3CwETuyEeqHDpP_Gx8Z-w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3CwEjuyEeqHDpP_Gx8Z-w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x3CJATuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_x3CJAjuyEeqHDpP_Gx8Z-w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3DXIzuyEeqHDpP_Gx8Z-w" x="70" y="20"/>
        </children>
        <children xmi:id="_x3D-MjuyEeqHDpP_Gx8Z-w" type="State" element="_x3DXJDuyEeqHDpP_Gx8Z-w">
          <children xsi:type="notation:DecorationNode" xmi:id="_x3ElQDuyEeqHDpP_Gx8Z-w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x3FMUDuyEeqHDpP_Gx8Z-w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_x3FMUTuyEeqHDpP_Gx8Z-w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x3FzYDuyEeqHDpP_Gx8Z-w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_x3FzYTuyEeqHDpP_Gx8Z-w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3FzYjuyEeqHDpP_Gx8Z-w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x3GacDuyEeqHDpP_Gx8Z-w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x3D-MzuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_x3D-NDuyEeqHDpP_Gx8Z-w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_x3GacTuyEeqHDpP_Gx8Z-w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3HBgDuyEeqHDpP_Gx8Z-w" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3A65DuyEeqHDpP_Gx8Z-w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_x1tTUTuyEeqHDpP_Gx8Z-w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3Bh8DuyEeqHDpP_Gx8Z-w" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_x3KE0DuyEeqHDpP_Gx8Z-w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3Kr4DuyEeqHDpP_Gx8Z-w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3Kr4TuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3Kr4juyEeqHDpP_Gx8Z-w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x3Kr4zuyEeqHDpP_Gx8Z-w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3Kr5DuyEeqHDpP_Gx8Z-w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x3LS8DuyEeqHDpP_Gx8Z-w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_x1nzwTuyEeqHDpP_Gx8Z-w" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_x1nzwjuyEeqHDpP_Gx8Z-w"/>
    <edges xmi:id="_x3I2sDuyEeqHDpP_Gx8Z-w" type="Transition" element="_x3HBgTuyEeqHDpP_Gx8Z-w" source="_x3CJADuyEeqHDpP_Gx8Z-w" target="_x3D-MjuyEeqHDpP_Gx8Z-w">
      <children xsi:type="notation:DecorationNode" xmi:id="_x3JdwDuyEeqHDpP_Gx8Z-w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x3JdwTuyEeqHDpP_Gx8Z-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x3JdwjuyEeqHDpP_Gx8Z-w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x3I2sTuyEeqHDpP_Gx8Z-w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x3I2szuyEeqHDpP_Gx8Z-w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x3I2sjuyEeqHDpP_Gx8Z-w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
